{% layout "layout.liquid" %} {% block content %}
    <div>
        {% comment %} <a href="/books/new"><button>Create A New Fruit</button></a> {% endcomment %}
        <a href="/users/logout"><button>Logout</button></a>

        {% for book in books %}
            <article>
                <a href="/books/{{ book._id }}">
                <h2>
                </h2>
                    {% comment %} {{book.name}} - {% if book.readyToEat == true %} Ripe 
                    {% else %} 
                    Not Ripe 
                    {% endif %} {% endcomment %}
                    <form action="/books" method="POST">
                        <h4>Title:</h4> 
                            {{book.title}}<br>
                        <h4>Author:</h4> 
                            {{book.author}}<br>
                        <h4>Series:</h4> 
                            {{book.series}}<br>

                        {% comment %} Has Read: <input type="checkbox" name="readyToEat"><br> {% endcomment %}
                    </form>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
