{% layout "layout.liquid" %} {% block content %}
    <div>
        
        <a href="/books/" type="button" class="btn btn-primary">Back to Main</a>
        
        <article>
            <h2>{{ book.title }}</h2>
           
            <h3>{{ book.author }}</h3>
            <h3>{{ book.series }}</h3>        
       
            <br><br>
               <!-- Review Section -->
<section class="book-reviews">
               <h2>Reviews</h2>
               <!-- Comment form -->
            <form id="add-review-form" action="/books/{{book.id}}/reviews?_method=POST" method="POST"> 

              <label>Rating:</label>
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
                <label>Review:</label>
                <textarea name="review" placeholder="Enter review here"></textarea>
              <button type="submit" class="btn btn-primary btn-sm mt-2">Add a Review</button>
            </form>

            <!-- Review with nested reviews -->
            {% comment %} {% for review in book.reviews%} {% endcomment %}

                <div class="flexbox" src="{{review.reviewOwner}}">
                    <p class="reviewBody">{{review.reviewBody}}</p>
                </div>


            {% comment %} {% endfor%} {% endcomment %}


</section>            



        </article>
    </div>
{% endblock %}
