{% layout "layout.liquid" %} {% block content %}
<div>

    <a href="/books/" type="button" class="btn btn-small">Back to Main</a>

    <article>
        <img class="image" src=" {{book.image}}">
        <h2>Title: {{ book.title }}</h2>
        <h4>Author: {{ book.author }}</h4>
        <h6>Series: {{ book.series }}</h6>
        <h6> Description:</h6> <p>{{book.description}}</p>

        <br><br>
        <!-- Review Section -->
        <section class="book-reviews">
            <h2>Reviews</h2>
            <!-- Comment form -->
            <div class="d-flex flex-row align-items-center">
                <form id="add-review-form" action="/books/{{book._id}}/review" method="POST">
{% comment %} 
                  <label>
                        Read:<input type="checkbox" name="hasRead" />

                    </label><br> {% endcomment %}

                    <div>

                        <label>Rating:</label>
                        <select name="rating" class="form-select form-select-sm">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div>
                        <label>Review:</label>
                        <textarea name="reviewBody" class="form-control" placeholder="Enter review here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Add a Review</button>

                </form>
            </div>
            <br>
            <table class="table review-table">
                <div class="review-box">
                    <legend>{{book.title}}'s Reviews:</legend>
                    {% comment %} {% if book.reviews = []%} {% endcomment %}
                    {% if book.reviews.length == 0 %}
                      <p>  There are no reviews yet</p>
                    {% endif%}
                    {%for review in book.reviews%}
              
                    {% if  book.reviews.length > 0 %}
                        
                    <div class="d-flex justify-content-between">
                        <div class="card mb-4">
                        <div class="card-body">
                            
                            <div class="d-flex flex-row align-items-center">
                                <!-- where I could include profile pictures -->
                                {% comment %} <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                    alt="avatar" width="25" height="25" /> {% endcomment %}
                                    <p>{{review.reviewBody}}</p>
                                    <p class="medium mb-0 ms-2">{{review.userPoster}}</p>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="medium text-muted mb-0">Rating:</p>
                                    <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.20rem;"></i>
                                    <p class="medium text-muted mb-0">{{review.rating}}</p>
                                    
                                    
                                    <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.20rem;"></i>
                                    {% comment %} <!-- {% if username === review.userPoster%} --> {% endcomment %}
                                    <div>
                                        <a class="medium text-muted mb-0" href="/reviews/{{review._id}}">Edit Review</a>
                                    </div>
                                    {% comment %} <!-- {%else %} --> {% endcomment %}
                                    <div>
                                    </div>
                                    {% comment %} <!-- {% endif %} --> {% endcomment %}
                                </div>
                            </div>        
                                </div>
                            </div>

                    
                    {% endif%}
                        
                        
                    {% endfor%}


                    <div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <div class="form-outline mb-4">
          <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />
          <label class="form-label" for="addANote">+ Add a note</label>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Type your note, and hit enter to add it</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">Martha</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                <p class="small text-muted mb-0">3</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Type your note, and hit enter to add it</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">Johny</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                <p class="small text-muted mb-0">4</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Type your note, and hit enter to add it</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">Mary Kate</p>
              </div>
              <div class="d-flex flex-row align-items-center text-primary">
                <p class="small mb-0">Upvoted</p>
                <i class="fas fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem;"></i>
                <p class="small mb-0">2</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Type your note, and hit enter to add it</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">Johny</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i class="far fa-thumbs-up ms-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                    {% comment %} {% else %}
                    <p>No reviews yet.</p>

                    {%elsif%} {% endcomment %}
                </div>
            </table>
            <!-- Review with nested reviews -->
            {% comment %} {% for review in book.reviews%} {% endcomment %}

            {% comment %} <div class="flexbox" src="{{review.username}}"> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            {% comment %} <p class="reviewBody">{{review.reviewBody}}</p> {% endcomment %}


            {% comment %} {% endfor%} {% endcomment %}




    </article>
</div>
{% endblock %}