{% layout "layout.liquid" %} {% block content %}
<div>

    <a href="/books/" type="button" class="btn btn-small">Back to Main</a>

    <article>
        <img class="image" src=" {{book.image}}">
        <h2>Title: {{ book.title }}</h2>
        <h4>Author: {{ book.author }}</h4>
        <h6>Series: {{ book.series }}</h6>
        <h6> Description:</h6>
        <p>{{book.description}}</p>

        <br><br>
        <!-- Review Section -->
        <section class="book-reviews">
            <h2>Reviews</h2>
            <!-- Comment form -->
            <div class="d-flex flex-row align-items-center">
                <form id="add-review-form" action="/books/{{book._id}}/review" method="POST">
                    {% comment %}
                    <label>
                        Read:<input type="checkbox" name="hasRead" />

                    </label><br> {% endcomment %}

                    <div id="rating">

                        <label>Rating:</label>
                        <select name="rating" class="form-select form-select-sm">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div id="review">
                        <label>Review:</label>
                        <textarea name="reviewBody" class="form-control" placeholder="Enter review here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Add a Review</button>

                </form>
            </div>
            <br>
            <table class="table review-table">
                <div class="review-box">
                    <legend>{{book.title}}'s Reviews:</legend>
                    {% comment %} {% if book.reviews = []%} {% endcomment %}
                    {% if book.reviews.length == 0 %}
                    <p> There are no reviews yet</p>
                    {% endif%}
                    
                    {%for review in book.reviews%}

                    {% if book.reviews.length > 0 %}

                    <div class="d-flex justify-content-between">
                        <!-- <div class="card mb-4"> -->
                          <div class="card-body">

                           <div class="d-flex flex-row align-items-center">
                        
                            <div class="row d-flex justify-content-center">
                                {% comment %} <div class="col-md-8 col-lg-6"> {% endcomment %}
                                    <!-- <div class="card shadow-0 border" style="background-color: #f0f2f5;"> -->
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>{{review.reviewBody}}</p>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center" id="userPoster">
                                                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                                                alt="avatar" width="25" height="25" /> -->
                                                            <p class="medium mb-0 ms-2">{{review.userPoster}}</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center" id="review-rating">
                                                            <p class="medium text-muted mb-0">Rating: {{review.rating}}</p>
                                                            <i class="far fa-thumbs-up mx-2 fa-xs text-black"
                                                                style="margin-top: -0.16rem;"></i>
                                                                <div>
                                                                    <a class="medium text-muted mb-0" href="/reviews/{{review._id}}">Edit Review</a>
                                                                </div>
                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} {% else %}
                <p>No reviews yet.</p>

                {%elsif%} {% endcomment %}
                {% endif%}


                {% endfor%}
</div>
</table>

</article>
</div>
{% endblock %}